<div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/">
                <h1>home</h1>
            </a>
            <a href="/courses/create">
                <h2>đăng khóa học</h2>
            </a>
            <a href="/me/stored/courses">
                <h2>danh sách khóa học</h2>
            </a>
        </div>

    </nav>
</div>